@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

$text-main: 'Inter', sans-serif;
$text-header: 'Inter', sans-serif;

$grey-100: #f8f4f1;
$grey-200: #bfbfbf;
$grey-300: #515151;

$common-black: #0b0000;
$primary-color: #755847;
$secondary-color: #e1e2e1;
$success-color: #4b8b3b;
