@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$text-main: 'Poppins', sans-serif;
$text-header: 'Poppins', sans-serif;

$grey-100: #f5f5f5;
$grey-200: #bfbfbf;
$grey-300: #797979;

$common-black: #383b3d;
$dark-black: #000a15;
$primary-color: #1839f2;
$secondary-color: #ff557c;
$success-color: #4b8b3b;
