.footer {
  position: relative;
  background-color: var(--wp--preset--color--primary);
  color: white;
  padding: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: auto;

  @include Tablet {
    padding: 40px 20px;
    & .wp-block-columns {
      & .wp-block-column {
        &.is-layout-flow {
          flex-basis: 45% !important;
        }
      }
    }
  }
  &__inner {
    background-color: white;
    color: $common-black;
    padding: 40px;
    border-radius: 40px;
  }
  & .wp-block-image {
    width: 100%;
    & img {
      width: 100%;
      max-width: 250px;
    }
  }

  & hr.wp-block-separator {
    margin: 20px 0;
    opacity: 0.1;
    height: 2px;
  }
  & p {
    margin-bottom: 10px;
  }
  & a {
    color: $common-black;
    text-decoration: none;
  }
  & ul:not(.wp-block-social-links) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    @include Tablet {
      flex-direction: column;
    }
  }
  @include Tablet {
    & ul.wp-block-social-links {
      justify-content: center;
    }
  }
  @include Mobile {
    & figure,
    & p {
      text-align: center;
    }
  }
}
