.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 1em 0;
  background-color: white;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: 10px;
    & img {
      max-height: 100%;
      max-width: 200px;
    }
  }
  &__nav {
    justify-self: flex-start;
    margin-right: auto;
    @include Tablet {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding-bottom: 15px;
      background-color: white;
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 0.7s;
    }
    &.show {
      max-height: 60vh;
    }
    & ul {
      display: flex;
      margin-bottom: 0;
      & li {
        position: relative;
        margin-right: 20px;
        padding-left: 0;
        list-style: none;
        &.current-menu-item,
        &:hover {
          & > a {
            color: $primary-color;
          }
        }
        &:hover {
          & > a {
            @include Tablet {
              color: $common-black;
            }
          }
        }
        & a {
          text-decoration: none;
          transition: color 0.3s ease-out;
        }
        & .sub-menu {
          position: absolute;
          padding-left: 0;
          padding: 1em;
          display: none;
          flex-direction: column;
          background-color: white;
          z-index: 10;
          box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
          margin-top: 3px;
          & > li {
            & > a {
              text-wrap: nowrap;
            }
          }
          @include Tablet {
            position: static;
            flex-direction: column;
            gap: 8px;
            margin-top: 0;
            box-shadow: none;
            padding: 0.8em;
          }
        }
        &:hover .sub-menu {
          display: flex;
          @include Tablet {
            display: none;
          }
        }
        &.show-sub-menu .sub-menu {
          display: flex;
        }
      }
      @include Tablet {
        flex-direction: column;
        gap: 8px;
      }
    }
  }
  &__cta {
    & a {
      text-wrap: nowrap;
    }
  }
  &__hamburger {
    color: $common-black;
    fill: $common-black;
    height: 20px;
    width: 20px;
    align-self: center;
  }
}
