.wp-block-image {
  position: relative;
  margin-bottom: 0;

  &.is-style-rounded {
    & img {
      border-radius: 30px;
    }
  }

  &.is-style-full-width {
    width: 100%;
    &-square {
      width: 100%;
      aspect-ratio: 1/1;
    }
    &-contain {
      height: 100%;
      & img {
        object-fit: contain;
        object-position: center;
        height: 100%;
      }
    }
  }
  &.is-style-half-page {
    width: 50vw;
    max-height: 100%;
    @include Mobile {
      width: 100vw;
    }
    & img {
      object-position: left;
    }
  }
}

.wp-block-cover {
  &.is-style-content-bottom {
    & .wp-block-cover__inner-container {
      align-self: flex-end;
    }
  }
}

/**
 * Hacky solution for the top image
 */

.top-image-position img {
  height: 700px;
}
