.tag-list {
  margin-bottom: 20px;
  &__link {
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid $primary-color;
    border-radius: 1000px;
    color: $primary-color;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px;
    transition: all 0.2s;
    &:hover {
      background-color: $primary-color;
      color: white;
    }
    @include Tablet {
      &:nth-of-type(n + 7) {
        display: none;
      }
    }
  }
}
