main.main {
  .glide {
    margin-bottom: 40px;

    &__slide {
      &.card {
        background-color: white;
        padding: 10px 10px 20px 10px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 10px;
        &.image {
          padding: 0;
          aspect-ratio: 1/1;
          margin-bottom: 20px;
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
      &__inner {
        position: relative;
        height: 100%;
        &__top {
          display: flex;
          align-items: center;
          gap: 15px;
        }
        &__profile-pic {
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
        &__quotes {
          fill: $primary-color;
          margin: 15px 0 10px 0;
        }
        &__content {
          color: $grey-300;
        }
        &__button {
          width: 100%;
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: -20px;
          &__inner {
            background-color: $secondary-color;
            color: white;
            padding: 10px 20px;
            border-radius: 100px;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 10px;
            & svg {
              fill: white;
              height: 16px;
            }
          }
        }
      }
    }
    &__arrows {
      width: calc(100% + 40px);
      left: -20px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 40%;
    }
    &__arrow {
      color: white;
      background-color: $secondary-color !important;
      border: 2px solid $secondary-color;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.7em;
      height: 35px;
      width: 35px;
      padding: 0;
      transition: background-color 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      & svg {
        width: 50%;
        height: 50%;
        fill: white;
        transition: fill 0.3s;
      }
      &:hover {
        background-color: white !important;
        & svg {
          fill: $secondary-color !important;
        }
      }
    }
    &__bullets {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    &__bullet {
      background-color: $grey-200;
      border: none;
      height: 11px;
      width: 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.2s;
      &--active {
        background-color: $secondary-color;
      }
    }
  }
}
