.wp-block-columns {
  margin-bottom: 0;
  overflow-y: clip;
  & .wp-block-column {
    position: relative;
    &:first-of-type {
      & .is-style-half-page {
        float: right;
        & img {
          border-radius: 0 70px 70px 0;
          @include Mobile {
            border-radius: 70px 0 0 70px;
          }
        }
        @include Mobile {
          position: static;
        }
      }
    }
  }
  @include Tablet {
    flex-basis: 0;
    flex-grow: 1;
    & .wp-block-column {
      &.is-layout-flow {
        flex-basis: 0 !important;
        @include Mobile {
          flex-basis: 100% !important;
        }
      }
    }
  }
  &.is-style-container-many-columns {
    @include Tablet {
      justify-content: space-around;
      padding: 30px 20px;
    }
    & .wp-block-column {
      &.is-style-large-padding {
        box-sizing: border-box;
        padding: 30px;
        @include Tablet {
          padding: 0;
        }
      }
      @include Tablet {
        flex-basis: 25% !important;
        max-width: 25%;
      }
    }
  }
}
