.container,
.is-style-container,
.is-style-container-many-columns {
  padding: 0 20px;
  position: relative;
  @include onlyDesktop {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.wp-block-group {
  overflow-x: hidden;
  &.is-style-background {
    background-image: url('./assets/bg.svg');
    background-repeat: no-repeat;
  }
}

article {
  border-radius: 20px;
  &.wp-block-group.has-background {
    padding: 10px 20px;
  }
}

.has-background {
  padding: 0;
}
